body {

    margin: 0pt;

    -ms-overflow-style: -ms-autohiding-scrollbar;

    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;

    font-size: 20pt;

    font-family: 'Roboto Condensed', sans-serif;
}

.top, .top-menu {

    margin: 0pt;

    background-color: black;
    color: wheat;

    padding: 0pt;

    border-right: 1pt solid wheat;

    display: inline-block;
}

.top-menu {
    color: white;
}

.node-font {

    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14pt;
}